---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import localProfileImage from "../content/images/profile.png";
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";
import PostLink from "../components/PostLink.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Hello there 👋">
  <main>
    <section class="hero">
      <Image
        class="profile-image"
        src={localProfileImage}
        alt="cartoon representation of Brian"
      />
      <div class="hero-content">
        <h1>Brian Farias Tavares</h1>
        <p>
          I'm a Software Engineer from <a
            href="https://goo.gl/maps/ph8WhKSFZKDRgYoY6"
            target="_blank">Ottawa, Canada</a
          >. I work on web stuff at <a
            target="_blank"
            href="https://spotify.com/">Spotify</a
          >. I help co-organize the <a
            href="https://www.meetup.com/Ottawa-ReactJS-Meetup/"
            target="_blank">React Ottawa Meetup</a
          > and serve on the board of governors at <a
            href="https://cegep-heritage.qc.ca"
            target="_blank">Heritage College</a
          >.
        </p>
        <SocialLinks />
      </div>
    </section>
    <section class="posts">
      <SubHeading>Writing</SubHeading>
      {
        posts.map((post) => (
          <PostLink
            slug={post.slug}
            imageUrl={post.data.heroImage}
            title={post.data.title}
            date={post.data.pubDate}
            description={post.data.description}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0.5rem;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }
  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .profile-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      align-items: center;
    }
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.25em;
  }
</style>
