---
import { Image } from "astro:assets";
const { title, startDate, endDate, company, image, url } = Astro.props;
---

<a href={url}>
  <div class="image">
    <Image src={image} alt={company} width={48} height={48} />
  </div>
  <div class="content">
    <h3>{company}</h3>
    <span>{title}</span>
  </div>
  {
    startDate && endDate && (
      <div class="date">
        <span>
          {startDate} - {endDate}
        </span>
      </div>
    )
  }

  <style>
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      text-decoration: none;
      color: var(--text-color);
      padding: 8px;
    }
    a:hover {
      background-color: var(--accent-color);
      border-radius: 8px;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex-grow: 1;
    }
    .image {
      min-width: 64px;
      height: 64px;
      border-radius: 10%;
      background-color: whitesmoke;
      box-shadow: var(--box-shadow);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .date {
      flex-grow: 0;
      font-family: monospace;
      font-size: 0.9rem;
      text-align: right;
    }
  </style>
</a>
